<% if resource.errors.any? %>
  <div id="error_explanation" class="alert alert-danger" data-turbo-cache="false">
    <strong>
      <%= pluralize(resource.errors.count, "error") %> prohibited this from being saved:
    </strong>
    <ul style="margin-top: 8px; margin-bottom: 0; padding-left: 20px; list-style: disc;">
      <% resource.errors.full_messages.each do |message| %>
        <li style="margin: 4px 0;"><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
