<%= field_wrapper(**field_wrapper_args) do %>
  <span class="inline-flex items-center px-3 py-1 rounded-md text-xs font-semibold uppercase tracking-wide shadow-sm <%= badge_class %>">
    <%= status.humanize %>
  </span>
<% end %>
