<%= field_wrapper(**field_wrapper_args) do %>
  <span class="inline-flex items-center px-3 py-1 rounded-md text-xs font-semibold uppercase tracking-wide shadow-sm whitespace-nowrap" style="<%= badge_style %>">
    <%= badge_label %>
  </span>
<% end %>
